<nav class="navbar navbar-expand-lg ">
  <div class="container d-flex space-between">
    <a class="navbar-brand" href="#">Logga</a>
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
      <div class="navbar-nav">

        <a class="nav-link" routerLink="/">Hem </a>
        <a class="nav-link" routerLink="/about">CV</a>
        <a class="nav-link" routerLink="/contact">Kontakt </a>

      </div>
    </div>
  </div>
</nav>
<!-- <nav class="nav">
  <div class="container">
    <div=""></div=>
    <div class="d-flex ms-auto">
      <ul>
        <li>
          <a routerLink="/">Hem </a>
        </li>
        <li>
          <a routerLink="/about">CV</a>
        </li>
        <li>
          <a routerLink="/contact">Kontakt </a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->