<div class="header">

       <div class="home">

              <div class="name">
                     <h3 id="fredrik" class="text-center">Fredrik Sellin</h3>
                     <p id="title" class="text-center">Frontend-utvecklare in the making</p>
              </div>

              <div class="info">
                     <p>
                            Lagermedarbetande tvåbarnsfar mitt i omskolning till frontend-utvecklare. Social, lätt att
                            ha att göra med, trivs med problemlösning, gärna i samarbete med andra. Fritiden spenderas
                            främst med familjen men där tid finns filas gärna på egna projekt - allt mellan hemsnickrade
                            servrar och intressanta böcker.
                     </p>
                     <p>Tror att en pigg och kreativ hjärna trivs bäst i en sund kropp så äter och tränar den därefter.
                            Ultramarathon, braziliansk jiu-jitsu och klättring står på menyn för tillfället.
                     </p>
              </div>

       </div>

</div>