<div class="education">
  <h3>Utbildning</h3>
  <div class="item">
    <div class="date">
      <p>2020 - idag </p>
    </div>
    <div class="details">
      <p>Frontend-utvecklare, YH </p>
    </div>
    <div class="place">
      <p>EC utbildning, Västerås </p>
    </div>
  </div>
  <div class="item">
    <div class="date">
      <p>2004 - 2007</p>
    </div>
    <div class="details">
      <p>Bachelor of Business Administration </p>
    </div>
    <div class="place">
      University of Kent, Canterbury
    </div>
  </div>
  <div class="item">
    <div class="date">
      <p>1999 - 2002</p>
    </div>
    <div class="details">
      <p>Naturvetenskapliga linjen </p>
    </div>
    <div class="place">
      <p>Rudbeckianska Gymnasiet, Västerås</p>
    </div>
  </div>
</div>